<style>

</style>

<div class="cabecera-centrada">
  <div class="cabecera" align="center">
    <img class="uceva" src="../../assets/img/UCEVA.jpg" alt="uceva" align="center"/>
    <div class="facultadColor">
              <h1 style="color: ghostwhite; font-size: 70px" >Facultades</h1>
    </div>
    <div class="botones">
      <a href="http://localhost:4200/facultades">
        <button role="button" class="button-name">Lista de Facultades</button>
      </a>
      <a href="http://localhost:4200/facultades/crear">
        <button role="button" class="button-name">Crear Facultad</button>
    </a>
      <a href="http://localhost:4200/facultades/buscar">
        <button role="button" class="button-name">Buscar Facultad</button>
      </a>
    </div>
    <div class="espacio"></div>

  </div>
</div>
